@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello everyone.If you want to login this page,you can click on login button.</p>
</div>
